@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@utility prose {
    blockquote {
        p {
            &:first-of-type::before,
            &:last-of-type::after {
                content: none;
            }
        }
    }

    background: repeating-linear-gradient(
    45deg,
    #fffffff2,
    #fffffff2 80px,
    #ffffffe6 80px,
    #ffffffe6 160px  
    );
}

.checkerboard {
    --size: 160px; /* Define the size of each square */
    --color-a: #ffffff28; /* First square color */
    --color-b: #ffffff05; /* Second square color */
    background: repeating-conic-gradient(
        var(--color-a) 0% 25%, 
        var(--color-b) 0% 50%
    );
    background-size: var(--size) var(--size);
}

.stripes {
    background: repeating-linear-gradient(
    45deg,
    #fffffff2,
    #fffffff2 80px,
    #ffffffe6 80px,
    #ffffffe6 160px  
    );
}

@theme {
    --font-headings: "Londrina Solid", monospace;
    --font-main: cursive;
}

.hover-desc {
    visibility: hidden;
    opacity: 0%;
    transition: opacity .2s, visibility .2s;
}

.hover-wrapper:hover .hover-desc {
    visibility: visible;
    opacity: 1;
}

.text-stroke{
  text-shadow: 0px 3px 0px #ffffff, 0px -3px 0px #ffffff, -3px 0px 0px #ffffff, 3px 0px 0px #ffffff, 2px 2px 4px;
}