---
title: 'header';
import {Image} from 'astro:assets';
import icon from '../assets/favicon-big.png';
---
<div class="max-w-none bg-[#9b81f0]">
    <div class="max-w-none flex checkerboard px-[1vh] pt-[1vh]">
        <div class="max-w-none w-full flex">
            <Image src={icon} alt="Storyboard Cat Icon" width="100" />
            <h1 class="hidden md:inline place-self-center m-[1vh] font-headings text-3xl text-[#4d4c5c] text-stroke">Storyboard V2: Ren'Py Guide Document</h1>
        </div>
        <div class="max-w-none flex justify-end align-middle m-[1.5vh] text-stroke">
            <a class="text-right align-middle m-[1vh] font-headings text-[#242781] text-3xl hover:underline decoration-wavy" href="../">Docs</a>
        </div>
        <div class="max-w-none flex justify-end align-middle m-[1.5vh] text-stroke">
            <a class="text-right align-middle m-[1vh] font-headings text-[#242781] text-3xl hover:underline decoration-wavy" href="/licensepage/">License</a>
        </div>
    </div>
</div>