---

---
<div class="overflow-hidden bg-linear-to-t from-[#242781] to-[#9b81f0] h-37/50">
    <div class="flex items-center checkerboard h-37/50">
        <div
        class="prose prose-headings:font-headings prose-h1:text-4xl prose-h2:text-3xl prose-h3:text-2xl prose-h4:text-xl
            prose-p:text-xl prose-p:font-main prose-headings:text-[#242781] text-[#242781] max-w-none w-[80vw] place-self-center m-[4vh] mx-[auto] prose-h1:text-center prose-h1:font-bold 
            prose-a:text-violet-600 prose-a:hover:decoration-wavy  
            prose-img:rounded-xl prose-headings:hover:underline prose-headings:decoration-wavy prose-blockquote:border-violet-300 shadow-lg shadow-[#242781]
            prose-headings:text-shadow-white prose-headings:text-shadow-lg prose-headings:londrina prose-p:marvel
            prose-blockquote:bg-violet-300/25 prose-blockquote:hover:bg-violet-300/45 prose-blockquote:rounded-r-2xl prose-blockquote:not-italic
            prose-li:font-main prose-li:text-xl prose-li:marker:text-violet-500 prose-blockquote:px-[2vh] prose-blockquote:py-[0.25vh] 
            px-[4vh] py-[2vh] rounded-4xl prose-img:p-[2vh] prose-img:bg-white/75 prose-img:rounded-2xl
            prose-img:drop-shadow-violet-900/75 prose-img:drop-shadow-md prose-img:hover:drop-shadow-violet-900/75 prose-img:hover:drop-shadow-xl prose-img:drop-shadow-violet-900/75 prose-img:hover:scale-102 prose-img:duration-300">
            <slot />
        </div>
    </div>
</div>
 