---
import '../styles/global.css';
import '@fontsource/londrina-solid';
import '@fontsource/marvel';
---
<html lang="en" style="scroll-behavior: smooth;" style="@import 'tailwindcss';
@plugin '@tailwindcss/typography';">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../favicon.png"> 
    <title>Ren'Py Guide Document: Storyboard</title>
  </head>
    <div>
      <slot /> 
    </div>
  </body>
</html>